html{
    max-width: 1200px;
    margin: 0 auto;
    padding: 10px 10px;
    box-sizing: border-box;
    font-family: 'Baloo 2', sans-serif;
}
nav{
    margin: 0 auto;
}
nav ul li{
    display: inline;
    list-style: none;
    text-decoration: none;
    padding:5px 15px;
    font-size: 20px;
}
a{
    text-decoration: none;
    text-transform: uppercase;
    color: black;
}
a:hover{
    color: red;
}
img{
    max-width: 1200px;
}